/* bar values*/
.b1 div {
    height: 100px;
}
.b2 div {
    height: 160px;
}
.b3 div {
    height: 75px;
}
.b4 div {
    height: 120px;
}
.b5 div {
    height: 20px;
}
.b6 div {
    height: 150px;
}
/* other css */
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100%;
    display: flex;
    background: #171717;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
}
.center {
    display: flex;
    height: 200px;
    width: 500px;
}
.graph {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    position: relative;
    border-top: 0;
    border-right: 0;
    border-bottom: solid #ffffff 4px;
    border-left: solid #ffffff 4px;
    background: transparent;
    display: flex;
    flex-direction: row;
}
.bar {
    position: relative;
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: transparent;

}
.data {
    position: absolute;
    bottom: 0;
    background-color: red;
    width: 100%;
}
.label {
    color: white;
    font-family: sans-serif;
    position: absolute;
    bottom: -20px;
    transform-origin: right;
    transform: translate(calc(-40px/2), calc(10px/2)) rotate(-45deg);
}
.group {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
}
